<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEYWORDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.keywords">
     <keyword
   		id="asciidoctoreditor.preferences.keyword.asciidoctor"
   		label="asciidoctor">
     </keyword>
       <keyword
   		id="asciidoctoreditor.preferences.keyword.plantuml"
   		label="plantuml">
     </keyword>
      <keyword
   		id="asciidoctoreditor.preferences.keyword.color"
   		label="color">
     </keyword>
     <keyword
   		id="asciidoctoreditor.preferences.keyword.editor"
   		label="editor">
     </keyword>
     <keyword
   		id="asciidoctoreditor.preferences.keyword.validation"
   		label="validation">
     </keyword>
    
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          EDITOR                                      -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
      		name="Asciidoctor Editor"
            extensions="asciidoc,adoc"
            icon="icons/asciidoctor-editor.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.jcup.asciidoctoreditor.AsciiDoctorEditor"
	        default="true"  
            id="asciidoctoreditor.editors.AsciiDoctorEditor">
      </editor>
      <editor
      		name="Ditaa Editor (Asciidoctor)"
            extensions="ditaa"
            icon="icons/ditaa-asciidoctor-editor.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.jcup.asciidoctoreditor.AsciiDoctorDitaaEditor"
            id="asciidoctoreditor.editors.AsciiDoctorDitaaEditor">
      </editor>
      <editor
      		name="PlantUML Editor (Asciidoctor)"
            extensions="plantuml,pu,puml,iuml"
            icon="icons/plantuml-asciidoctor-editor.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.jcup.asciidoctoreditor.AsciiDoctorPlantUMLEditor"
            id="asciidoctoreditor.editors.AsciiDoctorPlantUMLEditor">
      </editor>
   </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--        POPUP                                                         -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   
    <extension point="org.eclipse.ui.menus">
        <!-- http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Fguide%2Fworkbench_cmd_menus.htm -->
        <menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=additions">
                <!-- Detect new root project --> 
                <command
            	  commandId="asciidoctoreditor.command.openWithAsciiDoctorEditor"
                  icon="icons/asciidoctor-editor.png"
                  id="asciidoctoreditor.maintoolbar.openWithAsciiDoctorEditor"
                  label="Open with AsciiDoctor Editor"
                  tooltip="Opens asciidoctor file with AsciiDoctor Editor."
                  style="push">
                        <visibleWhen 
                              checkEnabled="false">
                              <with
                                    variable="activeMenuSelection">
                                    <and>
				         				<count value="1"/>
	                                    <iterate ifEmpty="false">
	                                    	 <adapt type="org.eclipse.core.resources.IFile">
			         							<test property="de.jcup.asciidoctoreditor.isAsciiDoctorFileWithoutExtension" value="true"/>
				         					</adapt>
				         				</iterate>
                                    </and>
                              </with>
                        </visibleWhen>
                </command>
                
        </menuContribution>
   </extension>
   
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MARKER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
   <extension 
   		id="de.jcup.asciidoctoreditor.script.problem"
    	point="org.eclipse.core.resources.markers"
    	name="AsciiDoctoreditor script problem">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="false"/>
    </extension>
   <extension point="org.eclipse.ui.console.consolePageParticipants">
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          CONSOLE                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<consolePageParticipant class="de.jcup.asciidoctoreditor.console.AsciiDoctorConsolePageParticipant" id="de.jcup.asciidoctor.AsciiDoctorConsolePageParticipant">
		<enablement>
			<instanceof value="de.jcup.asciidoctoreditor.console.AsciiDoctorConsole" />
		</enablement>
	</consolePageParticipant>
  </extension>
   <extension point="org.eclipse.ui.console.consoleFactories">
	   <consoleFactory
	         class="de.jcup.asciidoctoreditor.console.AsciiDoctorConsoleFactory"
	         icon="icons/asciidoctor-editor.png"
	         label="Asciidoctor Console">
	   </consoleFactory>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          CONTEXT                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.contexts">
	  <context
	        name="AsciiDoctor context"
	        description="Editing asciidoctor files"
	        parentId="org.eclipse.ui.textEditorScope"
	        id="asciidoctoreditor.editors.AsciiDoctorEditor.context">
	        
	  </context>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          COMMANDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->^
   
   <extension point="org.eclipse.ui.commands">
       <category
            description="Asciidoctor editor"
            id="asciidoctoreditor.commands.category"
            name="Asciidoctor editor">
       </category>
      
       <command
      		name="Open with Asciidoctor editor"
      		description="Open file with asciidoctor editor"
      		categoryId="asciidoctoreditor.commands.category"
      		id="asciidoctoreditor.command.openWithAsciiDoctorEditor">
       </command>
   	   <command
            name="Quick outline"
            description="Show quick outline dialog"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.quickoutline">
      </command>
      <command
            name="Toggle comment"
            description="Toggle comment in selected line(s)"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.source.toggleComment">
      </command>
       <command
            name="Validate asciidoc file"
            description="Validate asciidoc file"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.source.validate">
      </command>
      <command
            name="Goto matching bracket"
            description="Goto matching bracket inside gradle document"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.gotomatchingbracket">
      </command>
      <!-- additional commands inside editor -->
      <command
            name="Make text bold"
            description="Make the selected text bold"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.formattext.bold">
      </command>
      
      <command
            name="Make text italic"
            description="Make the selected text italic"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.formattext.italic">
      </command>
      
      <command
            name="Make text mono spaced"
            description="Make the selected text mono spaced"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.formattext.monospaced">
      </command>
      <command
            name="Open link"
            description="Tries to idenify current cursorposition as link and open it"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.openlink">
      </command>
      <command
            name="Rebuild asciidoc output"
            description="Rebuilds / refreshes asciidoc output of editor"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.rebuild">
      </command>
      
	</extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HANDLERS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->^
	
	<extension point="org.eclipse.ui.handlers">
	
	 <handler
            commandId="asciidoctoreditor.editor.commands.quickoutline"
            class="de.jcup.asciidoctoreditor.handlers.OpenQuickOutlineHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.source.toggleComment"
            class="de.jcup.asciidoctoreditor.handlers.ToggleCommentHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.source.validate"
            class="de.jcup.asciidoctoreditor.handlers.ValidateHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.command.openWithAsciiDoctorEditor"
            class="de.jcup.asciidoctoreditor.handlers.OpenWithAsciiDoctorEditor">
      </handler>
      
      <handler
            commandId="asciidoctoreditor.editor.commands.formattext.bold"
            class="de.jcup.asciidoctoreditor.handlers.MakeTextBoldHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.formattext.italic"
            class="de.jcup.asciidoctoreditor.handlers.MakeTextItalicHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.formattext.monospaced"
            class="de.jcup.asciidoctoreditor.handlers.MakeTextMonospacedHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.openlink"
            class="de.jcup.asciidoctoreditor.handlers.OpenLinkHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.rebuild"
            class="de.jcup.asciidoctoreditor.handlers.RebuildHandler">
      </handler>
    </extension> 
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEY BINDING                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.bindings">
   		<key
            sequence="M1+O"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.quickoutline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+7"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.source.toggleComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+M2+P"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.gotomatchingbracket"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		
		<key
            sequence="M1+B"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.formattext.bold"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+I"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.formattext.italic"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+M2+X"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.formattext.monospaced"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="F3"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.openlink"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="F5"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.rebuild"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
    </extension> 
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MENU                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:asciidoctoreditor.editors.AsciiDoctorEditor.context?after=additions">
         <command
               commandId="asciidoctoreditor.editor.commands.source.validate" 
               icon="icons/asciidoctor-editor.png" 
               />
         <command
               commandId="asciidoctoreditor.editor.commands.quickoutline"
               />
            <command commandId="asciidoctoreditor.editor.commands.formattext.bold"
            		 icon="icons/toolbar/format_bold.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.formattext.italic" 
            		 icon="icons/toolbar/format_italic.png"
            />
            <command commandId="asciidoctoreditor.editor.commands.formattext.monospaced"
            		 icon="icons/toolbar/format_monospaced.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.openlink"
            		 icon="icons/toolbar/link.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.rebuild"
            		 icon="icons/toolbar/refresh.png"
             />
               
      </menuContribution>
      
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
            
         <menu
               id="asciidoctoreditor.editor.menu.sourceMenu"
               label="Source"
               mnemonic="S"
               >
               <visibleWhen checkEnabled="true">
                     <with variable="activeEditor">
                     	<instanceof
                            value="de.jcup.asciidoctoreditor.AsciiDoctorEditor"/>
                     </with>
               </visibleWhen>
            <command commandId="asciidoctoreditor.editor.commands.formattext.bold"
            		 icon="icons/toolbar/format_bold.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.formattext.italic" 
            		 icon="icons/toolbar/format_italic.png"
            />
            <command commandId="asciidoctoreditor.editor.commands.formattext.monospaced"
            		 icon="icons/toolbar/format_monospaced.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.source.toggleComment" />
            <command 
            	commandId="asciidoctoreditor.editor.commands.source.validate" 
            	icon="icons/asciidoctor-editor.png">
            </command>
            <command commandId="asciidoctoreditor.editor.commands.openlink"
            		 icon="icons/toolbar/link.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.rebuild"
            		 icon="icons/toolbar/refresh.png"
            />
         </menu>
      </menuContribution>
      
      </extension> 
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          PREFERENCES                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
      point = "org.eclipse.ui.preferencePages">
      <page
         id="asciidoctoreditor.eclipse.gradleeditor.preferences.AsciiDoctorEditorEditorPreferencePage"
         class="de.jcup.asciidoctoreditor.preferences.AsciiDoctorEditorPreferencePage"
         name="Asciidoctor Editor"
         >
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.asciidoctor">
         </keywordReference>
          <keywordReference
               id="asciidoctoreditor.preferences.keyword.editor">
         </keywordReference>
      </page>
      <page
         id="asciidoctoreditor.eclipse.gradleeditor.preferences.AsciiDoctorEditorEditorSyntaxColorPreferencePage"
         class="de.jcup.asciidoctoreditor.preferences.AsciiDoctorEditorSyntaxColorPreferencePage"
         name="Syntax coloring"
         category="asciidoctoreditor.eclipse.gradleeditor.preferences.AsciiDoctorEditorEditorPreferencePage">
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.asciidoctor">
         </keywordReference>
          <keywordReference
               id="asciidoctoreditor.preferences.keyword.color">
         </keywordReference>
      </page>
      <page
         id="asciidoctoreditor.eclipse.gradleeditor.preferences.AsciiDoctorEditorValidationPreferencePage"
         class="de.jcup.asciidoctoreditor.preferences.AsciiDoctorEditorValidationPreferencePage"
         name="Validation"
         category="asciidoctoreditor.eclipse.gradleeditor.preferences.AsciiDoctorEditorEditorPreferencePage">
          <keywordReference
               id="asciidoctoreditor.preferences.keyword.asciidoctor">
         </keywordReference>
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.validation">
         </keywordReference>
      </page>
    <!-- plantuml -->
      <page
         id="asciidoctoreditor.eclipse.gradleeditor.preferences.AsciiDoctorPlantUMLEditorSyntaxColorPreferencePage"
         class="de.jcup.asciidoctoreditor.preferences.AsciiDoctorPlantUMLEditorSyntaxColorPreferencePage"
         name="PlantUML Editor (Asciidoctor)"
         >
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.asciidoctor">
         </keywordReference>
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.plantuml">
         </keywordReference>
          <keywordReference
               id="asciidoctoreditor.preferences.keyword.color">
         </keywordReference>
      </page>
    </extension>
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jcup.asciidoctoreditor.preferences.AsciiDoctorEditorPreferenceInitializer">
      </initializer>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MARKER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
   <extension 
   		id="de.jcup.asciidoctoreditor.parse.error"
    	point="org.eclipse.core.resources.markers"
    	name="Asciidoctor editor parse error">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="true"/>
    </extension>
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HELP                                         -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="EditorToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet
            uri="css/dark.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark">
         </themeid>
      </stylesheet>
   </extension>
   
</plugin>
