<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEYWORDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.keywords">
     <keyword
   		id="asciidoctoreditor.preferences.keyword.asciidoctor"
   		label="asciidoctor">
     </keyword>
       <keyword
   		id="asciidoctoreditor.preferences.keyword.plantuml"
   		label="plantuml">
     </keyword>
      <keyword
   		id="asciidoctoreditor.preferences.keyword.color"
   		label="color">
     </keyword>
     <keyword
   		id="asciidoctoreditor.preferences.keyword.editor"
   		label="editor">
     </keyword>
     <keyword
   		id="asciidoctoreditor.preferences.keyword.validation"
   		label="validation">
     </keyword>
      <keyword
        id="asciidoctoreditor.preferences.keyword.template"
        label="templates">
     </keyword>
    
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          EDITOR                                      -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
      		name="Asciidoctor Editor"
            extensions="asciidoc,adoc"
            icon="icons/asciidoctor-editor.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.jcup.asciidoctoreditor.AsciiDoctorEditor"
	        default="true"  
            id="asciidoctoreditor.editors.AsciiDoctorEditor">
      </editor>
      <editor
      		name="Ditaa Editor (Asciidoctor)"
            extensions="ditaa"
            icon="icons/ditaa-asciidoctor-editor.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.jcup.asciidoctoreditor.AsciiDoctorDitaaEditor"
            id="asciidoctoreditor.editors.AsciiDoctorDitaaEditor">
      </editor>
      <editor
      		name="PlantUML Editor (Asciidoctor)"
            extensions="plantuml,pu,puml,iuml"
            icon="icons/plantuml-asciidoctor-editor.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.jcup.asciidoctoreditor.AsciiDoctorPlantUMLEditor"
            id="asciidoctoreditor.editors.AsciiDoctorPlantUMLEditor">
      </editor>
   </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--        POPUP                                                         -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   
    <extension point="org.eclipse.ui.menus">
        <!-- http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Fguide%2Fworkbench_cmd_menus.htm -->
        <menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=additions">
                <!-- Detect new root project --> 
                <command
            	  commandId="asciidoctoreditor.command.openWithAsciiDoctorEditor"
                  icon="icons/asciidoctor-editor.png"
                  id="asciidoctoreditor.maintoolbar.openWithAsciiDoctorEditor"
                  label="Open with AsciiDoctor Editor"
                  tooltip="Opens asciidoctor file with AsciiDoctor Editor."
                  style="push">
                        <visibleWhen 
                              checkEnabled="false">
                              <with
                                    variable="activeMenuSelection">
                                    <and>
				         				<count value="1"/>
	                                    <iterate ifEmpty="false">
	                                    	 <adapt type="org.eclipse.core.resources.IFile">
			         							<test property="de.jcup.asciidoctoreditor.isAsciiDoctorFileWithoutExtension" value="true"/>
				         					</adapt>
				         				</iterate>
                                    </and>
                              </with>
                        </visibleWhen>
                </command>
                
        </menuContribution>
   </extension>
   
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MARKER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
   <extension 
   		id="de.jcup.asciidoctoreditor.script.problem"
    	point="org.eclipse.core.resources.markers"
    	name="AsciiDoctoreditor script problem">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="false"/>
    </extension>
   <extension point="org.eclipse.ui.console.consolePageParticipants">
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          CONSOLE                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<consolePageParticipant class="de.jcup.asciidoctoreditor.console.AsciiDoctorConsolePageParticipant" id="de.jcup.asciidoctor.AsciiDoctorConsolePageParticipant">
		<enablement>
			<instanceof value="de.jcup.asciidoctoreditor.console.AsciiDoctorConsole" />
		</enablement>
	</consolePageParticipant>
  </extension>
   <extension point="org.eclipse.ui.console.consoleFactories">
	   <consoleFactory
	         class="de.jcup.asciidoctoreditor.console.AsciiDoctorConsoleFactory"
	         icon="icons/asciidoctor-editor.png"
	         label="Asciidoctor Console">
	   </consoleFactory>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          CONTEXT                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.contexts">
	  <context
	        name="AsciiDoctor context"
	        description="Editing asciidoctor files"
	        parentId="org.eclipse.ui.textEditorScope"
	        id="asciidoctoreditor.editors.AsciiDoctorEditor.context">
	        
	  </context>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          COMMANDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->^
   
   <extension point="org.eclipse.ui.commands">
       <category
            description="Asciidoctor editor"
            id="asciidoctoreditor.commands.category"
            name="Asciidoctor editor">
       </category>
      
       <command
      		name="Open with Asciidoctor editor"
      		description="Open file with asciidoctor editor"
      		categoryId="asciidoctoreditor.commands.category"
      		id="asciidoctoreditor.command.openWithAsciiDoctorEditor">
       </command>
   	   <command
            name="Quick outline"
            description="Show quick outline dialog"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.quickoutline">
      </command>
      <command
            name="Toggle comment"
            description="Toggle comment in selected line(s)"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.source.toggleComment">
      </command>
       <command
            name="Validate asciidoc file"
            description="Validate asciidoc file"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.source.validate">
      </command>
      <command
            name="Goto matching bracket"
            description="Goto matching bracket inside gradle document"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.gotomatchingbracket">
      </command>
      <!-- additional commands inside editor -->
      <command
            name="Make text bold"
            description="Make the selected text bold"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.formattext.bold">
      </command>
      
      <command
            name="Make text italic"
            description="Make the selected text italic"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.formattext.italic">
      </command>
      
      <command
            name="Make text mono spaced"
            description="Make the selected text mono spaced"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.formattext.monospaced">
      </command>
      <command
            name="Open link"
            description="Tries to idenify current cursorposition as link and open it"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.openlink">
      </command>
      <command
            name="Rebuild asciidoc output"
            description="Rebuilds / refreshes asciidoc output of editor"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.rebuild">
      </command>
      <command
            name="Add linebreak"
            description="Adds a linebreak"
            categoryId="asciidoctoreditor.commands.category"
            id="asciidoctoreditor.editor.commands.source.addlinebreak">
      </command>
      
	</extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HANDLERS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->^
	
	<extension point="org.eclipse.ui.handlers">
	
	 <handler
            commandId="asciidoctoreditor.editor.commands.quickoutline"
            class="de.jcup.asciidoctoreditor.handlers.OpenQuickOutlineHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.source.toggleComment"
            class="de.jcup.asciidoctoreditor.handlers.ToggleCommentHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.source.validate"
            class="de.jcup.asciidoctoreditor.handlers.ValidateHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.command.openWithAsciiDoctorEditor"
            class="de.jcup.asciidoctoreditor.handlers.OpenWithAsciiDoctorEditor">
      </handler>
      
      <handler
            commandId="asciidoctoreditor.editor.commands.formattext.bold"
            class="de.jcup.asciidoctoreditor.handlers.MakeTextBoldHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.formattext.italic"
            class="de.jcup.asciidoctoreditor.handlers.MakeTextItalicHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.formattext.monospaced"
            class="de.jcup.asciidoctoreditor.handlers.MakeTextMonospacedHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.openlink"
            class="de.jcup.asciidoctoreditor.handlers.OpenLinkHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.rebuild"
            class="de.jcup.asciidoctoreditor.handlers.RebuildHandler">
      </handler>
      <handler
            commandId="asciidoctoreditor.editor.commands.source.addlinebreak"
            class="de.jcup.asciidoctoreditor.handlers.AddLineBreakHandler">
      </handler>
    </extension> 
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEY BINDING                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.bindings">
   		<key
            sequence="M1+O"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.quickoutline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+7"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.source.toggleComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+M2+P"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.gotomatchingbracket"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		
		<key
            sequence="M1+B"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.formattext.bold"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+I"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.formattext.italic"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M3+X"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.formattext.monospaced"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="F3"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.openlink"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="F5"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.rebuild"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+ENTER"
            contextId="asciidoctoreditor.editors.AsciiDoctorEditor.context"
            commandId="asciidoctoreditor.editor.commands.source.addlinebreak"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">    
        </key>
    </extension> 
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MENU                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:asciidoctoreditor.editors.AsciiDoctorEditor.context?after=additions">
         <command
               commandId="asciidoctoreditor.editor.commands.source.validate" 
               icon="icons/asciidoctor-editor.png" 
               />
         <command
               commandId="asciidoctoreditor.editor.commands.quickoutline"
               />
            <command commandId="asciidoctoreditor.editor.commands.formattext.bold"
            		 icon="icons/toolbar/format_bold.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.formattext.italic" 
            		 icon="icons/toolbar/format_italic.png"
            />
            <command commandId="asciidoctoreditor.editor.commands.formattext.monospaced"
            		 icon="icons/toolbar/format_monospaced.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.openlink"
            		 icon="icons/toolbar/link.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.rebuild"
            		 icon="icons/toolbar/refresh.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.source.addlinebreak"
            		 icon="icons/toolbar/add_linebreak.png"
             />
               
      </menuContribution>
      
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
            
         <menu
               id="asciidoctoreditor.editor.menu.sourceMenu"
               label="Source"
               mnemonic="S"
               >
               <visibleWhen checkEnabled="true">
                     <with variable="activeEditor">
                     	<instanceof
                            value="de.jcup.asciidoctoreditor.AsciiDoctorEditor"/>
                     </with>
               </visibleWhen>
            <command commandId="asciidoctoreditor.editor.commands.formattext.bold"
            		 icon="icons/toolbar/format_bold.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.formattext.italic" 
            		 icon="icons/toolbar/format_italic.png"
            />
            <command commandId="asciidoctoreditor.editor.commands.formattext.monospaced"
            		 icon="icons/toolbar/format_monospaced.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.source.toggleComment" />
            <command 
            	commandId="asciidoctoreditor.editor.commands.source.validate" 
            	icon="icons/asciidoctor-editor.png">
            </command>
            <command commandId="asciidoctoreditor.editor.commands.openlink"
            		 icon="icons/toolbar/link.png"
             />
            <command commandId="asciidoctoreditor.editor.commands.rebuild"
            		 icon="icons/toolbar/refresh.png"
            />
            <command commandId="asciidoctoreditor.editor.commands.source.addlinebreak"
                     icon="icons/toolbar/add_linebreak.png"
             />
         </menu>
      </menuContribution>
      
      </extension> 
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          PREFERENCES                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
      point = "org.eclipse.ui.preferencePages">
      <page
         id="asciidoctoreditor.eclipse.preferences.AsciiDoctorEditorEditorPreferencePage"
         class="de.jcup.asciidoctoreditor.preferences.AsciiDoctorEditorPreferencePage"
         name="Asciidoctor Editor"
         >
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.asciidoctor">
         </keywordReference>
          <keywordReference
               id="asciidoctoreditor.preferences.keyword.editor">
         </keywordReference>
      </page>
      <page
         id="asciidoctoreditor.eclipse.preferences.AsciiDoctorEditorEditorSyntaxColorPreferencePage"
         class="de.jcup.asciidoctoreditor.preferences.AsciiDoctorEditorSyntaxColorPreferencePage"
         name="Syntax coloring"
         category="asciidoctoreditor.eclipse.preferences.AsciiDoctorEditorEditorPreferencePage">
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.asciidoctor">
         </keywordReference>
          <keywordReference
               id="asciidoctoreditor.preferences.keyword.color">
         </keywordReference>
      </page>
      <page
         id="asciidoctoreditor.eclipse.preferences.AsciiDoctorEditorValidationPreferencePage"
         class="de.jcup.asciidoctoreditor.preferences.AsciiDoctorEditorValidationPreferencePage"
         name="Validation"
         category="asciidoctoreditor.eclipse.preferences.AsciiDoctorEditorEditorPreferencePage">
          <keywordReference
               id="asciidoctoreditor.preferences.keyword.asciidoctor">
         </keywordReference>
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.validation">
         </keywordReference>
      </page>
      <page
         id="asciidoctoreditor.eclipse.preferences.AsciiDoctorEditortTemplatePreferencePage"
         class="de.jcup.asciidoctoreditor.preferences.AsciiDoctorEditorTemplatePreferencePage"
         name="Templates"
         category="asciidoctoreditor.eclipse.preferences.AsciiDoctorEditorEditorPreferencePage">
          <keywordReference
               id="asciidoctoreditor.preferences.keyword.asciidoctor">
         </keywordReference>
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.template">
         </keywordReference>
      </page>
      <!-- plantuml -->
      <page
         id="asciidoctoreditor.eclipse.preferences.AsciiDoctorPlantUMLEditorPreferencePage"
         class="de.jcup.asciidoctoreditor.preferences.AsciiDoctorPlantUMLEditorPreferencePage"
         name="PlantUML Editor (Asciidoctor)"
         >
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.asciidoctor">
         </keywordReference>
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.plantuml">
         </keywordReference>
      </page>
      <page
         id="asciidoctoreditor.eclipse.preferences.AsciiDoctorPlantUMLEditorSyntaxColorPreferencePage"
         class="de.jcup.asciidoctoreditor.preferences.AsciiDoctorPlantUMLEditorSyntaxColorPreferencePage"
         name="Syntax coloring"
         category="asciidoctoreditor.eclipse.preferences.AsciiDoctorPlantUMLEditorPreferencePage">
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.asciidoctor">
         </keywordReference>
         <keywordReference
               id="asciidoctoreditor.preferences.keyword.plantuml">
         </keywordReference>
          <keywordReference
               id="asciidoctoreditor.preferences.keyword.color">
         </keywordReference>
      </page>
    </extension>
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jcup.asciidoctoreditor.preferences.AsciiDoctorEditorPreferenceInitializer">
      </initializer>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MARKER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
   <extension 
   		id="de.jcup.asciidoctoreditor.parse.error"
    	point="org.eclipse.core.resources.markers"
    	name="Asciidoctor editor parse error">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="true"/>
    </extension>
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          TEMPLATE                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="Asciidoctor Editor"
            class="de.jcup.asciidoctoreditor.template.AsciidoctorEditorTemplateContextType"
            id="de.jcup.asciidoctoreditor.template.contexttype">
      </contextType>
      <template
            name="note (block)"
            description="Admonition NOTE block snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.admonition.noteblock">
         <pattern>[NOTE]
====
${cursor}An admonition block may contain complex content.
====
</pattern>
      </template>
        <template
            name="tip (block)"
            description="Admonition TIP block snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.admonition.tipblock">
         <pattern>[TIP]
====
${cursor}An admonition block may contain complex content.
====
</pattern>
        </template>
        <template
            name="important (block)"
            description="Admonition IMPORTANT block snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.admonition.importantlock">
         <pattern>[IMPORTANT]
====
${cursor}An admonition block may contain complex content.
====
</pattern>
        </template>
        <template
            name="warning (block)"
            description="Admonition WARNING block snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.admonition.warnblock">
         <pattern>[WARNING]
====
${cursor}An admonition block may contain complex content.
====
</pattern>
        </template>
        <template
            name="caution (block)"
            description="Admonition CAUTION block snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.admonition.cautionblock">
         <pattern>[CAUTION]
====
${cursor}An admonition block may contain complex content.
====
</pattern>
        </template>
      <template
            name="source java"
            description="Java code snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.java">
         <pattern>[source, java]
----
${cursor}
----
</pattern>
        </template>
        <template
            name="toc"
            description="TOC snippet (table of content)"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.toc">
         <pattern>:toc:
:toc-title: Table of contents
:toclevels: 5
${cursor}
</pattern>
        </template>
        <template
            name="table"
            description="Table snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.table">
         <pattern>[options="header",cols="1,1,1"]
|===
|HeadA${cursor}   |HeadB   |HeadC   
//----------------------
|Row1A   |Row1B   |Row1C   
|Row2A   |Row2B   |Row2C   
|Row3A   |Row3B   |Row3C   
|===
</pattern>
        </template>
        <template
            name="todo"
            description="TODO snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.todo">
         <pattern>// TODO ${d:date('yyyy-MM-dd')}, ${user}: ${cursor}</pattern>
        </template>
         <template
            name="fixme"
            description="FIXME snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.fixme">
         <pattern>// FIXME ${d:date('yyyy-MM-dd')}, ${user}: ${cursor}</pattern>
        </template>
        <template
            name="list unordered"
            description="A unordered list snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.list.unordered">
         <pattern>*${cursor}A unorderred list*

* Edgar Allen Poe
* Sheri S. Tepper
* Bill Bryson
</pattern>
        </template>
        <template
            name="list ordered"
            description="A ordered list snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.list.ordered">
         <pattern>*${cursor}A orderred list*

. Step 1
. Step 2
.. Step 2a
.. Step 2b
. Step 3
</pattern>
        </template>
        <template
            name="list checked"
            description="A checked list snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.list.checked">
         <pattern>*${cursor}A checked list*

* [*] checked
* [x] also checked
* [ ] not checked
* normal list item
</pattern>
        </template>
        <template
            name="include"
            description="Include snippet"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.include">
         <pattern>include::${cursor}.adoc[]
</pattern>
        </template>
        <template
            name="ifdef (general)"
            description="Ifdef snippet (general)"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.ifdef_general">
         <pattern>ifdef::${variable1}[]

endif::${variable1}[]
</pattern>
        </template>
        <template
            name="ifdef (html)"
            description="Ifdef snippet for html backend"
            contextTypeId="de.jcup.asciidoctoreditor.template.contexttype"
            id="de.jcup.asciidoctoreditor.template.default.ifdef_html">
         <pattern>ifdef::${basebackend-html}[]
++++
${cursor}
++++
endif::${basebackend-html}[]
</pattern>
        </template>
    </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HELP                                         -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="EditorToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet
            uri="css/dark.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark">
         </themeid>
      </stylesheet>
   </extension>
   
</plugin>
