IEclipsePreferences#de-jcup-asciidoctoreditor:de-jcup-asciidoctoreditor { /* pseudo attribute added to allow contributions without replacing this node, see Bug 466075 */
	preferences:
		'colorHyperlink=49,98,98'
		'colorTextItalic=196,160,0'
		'colorTextBold=245,121,0'
		'colorTextBlocks=136,138,133'
		'colorNormalText=192,192,192'
		'colorHeadlines=191,63,63'
		'colorComments=63,127,95'
		'colorIncludeKeywords=128,128,0'
		'colorCommands=77,154,6'
		'colorKnownVariables=138,226,52'
		'colorPlantUMLKeyword=49,98,98'
		'colorPlantUMLNormalText=192,192,192'
		'colorPlantUMLPreprocessor=0,128,128'
		'colorPlantUMLColor=128,128,0'
		'colorPlantUMLNote=63,127,95'
		'colorPlantUMLType=186,57,37'
		'colorPlantUMLSkinparameter=97,97,97'
		'colorPlantUMLDoubleString=237,127,0'
}


