<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="asciidoctor-editor">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
			<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/releases/2021-12/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/latest"/>
			<unit id="org.junit.jupiter.api" version="0.0.0"/>
			<unit id="org.junit.jupiter.engine" version="0.0.0"/>
			<unit id="org.eclipse.jdt.junit5.runtime" version="0.0.0"/>
			<unit id="org.junit" version="0.0.0"/>
			<unit id="org.hamcrest.core" version="0.0.0"/>
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScope="compile" includeSource="true" label="asp launcher" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>commons-io</groupId>
					<artifactId>commons-io</artifactId>
					<version>2.7</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>de.jcup.asp</groupId>
					<artifactId>asp-server-asciidoctorj-launcher</artifactId>
					<version>1.4.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>de.jcup.eclipse.commons</groupId>
					<artifactId>eclipse-commons</artifactId>
					<version>1.0.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="infinite" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>de.jcup.asp</groupId>
					<artifactId>asp-server-asciidoctorj</artifactId>
					<version>1.4.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>