.lck
.gradle/
*.class
build/
*.jar
*.log
*.bak
# we do not want to have bin or gen folders in any of our projects inside git!
bin/
gen/

!.metadata
!.classpath
!.project
!.settings/
!*.jar
!lib/*.jar
