<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--        POPUP                                                         -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   
    <extension point="org.eclipse.ui.menus">
        <!-- http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Fguide%2Fworkbench_cmd_menus.htm -->
        <menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=additions">
                <command
            	  commandId="asciidoctor.converter.command.md2asciidoc"
                  icon="icons/md2asciidoc.png"
                  id="contextmenu.asciidoctor.converter.command.md2asciidoc.file"
                  label="Convert to asciidoc"
                  tooltip="Converts markdown file to asciidoc file"
                  style="push">
                        <visibleWhen 
                              checkEnabled="false">
                              <with
                                    variable="activeMenuSelection">
                                    <and>
				         				<count value="1"/>
	                                    <iterate ifEmpty="false">
	                                    	 <adapt type="org.eclipse.core.resources.IFile">
	                                    	 <test property="org.eclipse.core.resources.name" value="*.md"/>
				         					</adapt>
				         				</iterate>
                                    </and>
                              </with>
                        </visibleWhen>
                </command>
                <command
                  commandId="asciidoctor.converter.command.folder2asciidoc"
                  icon="icons/md2asciidoc.png"
                  id="contextmenu.asciidoctor.converter.command.md2asciidoc.folder"
                  label="Convert to asciidoc files"
                  tooltip="Converts files in this folder to asciidoc files (where possible - e.g. for *.md)"
                  style="push">
                        <visibleWhen 
                              checkEnabled="false">
                              <with
                                    variable="activeMenuSelection">
                                    <and>
                                        <count value="1"/>
                                        <iterate ifEmpty="false">
                                             <adapt type="org.eclipse.core.resources.IFolder">
                                            </adapt>
                                        </iterate>
                                    </and>
                              </with>
                        </visibleWhen>
                </command>
        </menuContribution>
   </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          COMMANDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->^
   
   <extension point="org.eclipse.ui.commands">
       <category
            description="Asciidoctor editor"
            id="asciidoctor.converter.commands.category"
            name="Asciidoctor converter">
       </category>
      
       <command
      		name="Convert markdown to asciidoc"
      		description="Converts given markdown file to asciidoc file"
      		categoryId="asciidoctor.converter.commands.category"
      		id="asciidoctor.converter.command.md2asciidoc">
       </command>
       <command
      		name="Convert folder files to asciidoc"
      		description="Converts given directory to asciidoc file where possible"
      		categoryId="asciidoctor.converter.commands.category"
      		id="asciidoctor.converter.command.folder2asciidoc">
       </command>
   	  
	</extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HANDLERS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->^
	
	<extension point="org.eclipse.ui.handlers">
	
	 <handler
            commandId="asciidoctor.converter.command.md2asciidoc"
            class="de.jcup.asciidoctor.converter.ConvertMarkdownFilesHandler">
      </handler>
	 <handler
            commandId="asciidoctor.converter.command.folder2asciidoc"
            class="de.jcup.asciidoctor.converter.ConvertFolderToAsciidocHandler">
      </handler>
    </extension> 
    

</plugin>
